.documents{
    padding:100px 8%;
}

.documents-grid{
    max-width:1200px;
    margin:auto;

    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.doc-card{
    background:white;

    padding:40px 25px;

    text-align:center;

    border-radius:20px;

    box-shadow:
    0 10px 30px rgba(0,0,0,.08);

    border-top:5px solid #8B1E3F;

    font-weight:600;

    transition:.3s;
}

.doc-card:hover{
    transform:translateY(-10px);
}

@media(max-width:992px){

    .documents-grid{
        grid-template-columns:repeat(2,1fr);
    }
}

@media(max-width:600px){

    .documents-grid{
        grid-template-columns:1fr;
    }
}