.topbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 4%;
  color: #fff;
}

.topbar-left,
.topbar-right {
  display: flex;
  align-items: center;
  gap: 35px;
}

.topbar span {
  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 15px;
  font-weight: 500;
}

.navbar {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);

  width: 97%;
  max-width: 1500px;
  height: 100px;

  z-index: 1000;

  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;

  padding: 0 35px;

  background: #fff;
  border-radius: 22px;

  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.15);
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 18px;

  text-decoration: none;
  min-width: 420px;
}

.logo-section img {
  width: 78px;
  height: 78px;
  object-fit: contain;
}

.school-info {
  display: flex;
  flex-direction: column;
}

.school-info h2 {
  color: #082567;
  font-size: 1.15rem;
  font-weight: 800;
  margin-bottom: 5px;
  white-space: nowrap;
}

.school-info span {
  color: #f4b400;
  font-size: 0.95rem;
  font-weight: 600;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 42px;
}

.nav-menu a {
  position: relative;

  text-decoration: none;
  color: #082567;

  font-size: 1rem;
  font-weight: 600;

  white-space: nowrap;
  transition: 0.3s ease;
}

.nav-menu a:hover {
  color: #f4b400;
}

.nav-menu a.active {
  color: #f4b400;
}

.nav-menu a.active::after {
  content: "";
  position: absolute;

  left: 0;
  bottom: -18px;

  width: 100%;
  height: 3px;

  background: #f4b400;
  border-radius: 50px;
}

.enroll-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 10px;

  min-width: 150px;
  height: 50px;

  padding: 0 18px;

  text-decoration: none;

  background: #f4b400;
  color: #082567;

  border-radius: 50px;

  font-size: 0.9rem;
  font-weight: 700;

  transition: 0.3s ease;
}

.enroll-btn:hover {
  transform: translateY(-3px);
}

.btn-circle {
  width: 32px;
  height: 32px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #082567;
  color: #fff;

  font-size: 0.85rem;
}

.mobile-menu {
  display: none;
  font-size: 1.7rem;
  color: #082567;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .logo-section {
    min-width: auto;
  }

  .school-info h2 {
    font-size: 1rem;
  }

  .nav-menu {
    gap: 25px;
  }

  .nav-menu a {
    font-size: 0.95rem;
  }
}

@media (max-width: 992px) {
  .topbar {
    display: none;
  }

  .navbar {
    top: 20px;
    height: 100px;
  }

  .nav-menu,
  .enroll-btn {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .logo-section img {
    width: 65px;
    height: 65px;
  }
}

@media (max-width: 768px) {
  .school-info h2 {
    font-size: 0.9rem;
  }

  .school-info span {
    font-size: 0.75rem;
  }
}.mobile-nav{
  position:absolute;
  top:120px;
  left:0;
  width:100%;

  background:#fff;

  display:flex;
  flex-direction:column;

  gap:20px;
  padding:25px;

  z-index:999;
  box-shadow:0 15px 40px rgba(0,0,0,.12);
}

.mobile-nav a{
  text-decoration:none;
  color:#082567;
  font-size:1rem;
  font-weight:600;
}

.mobile-enroll-btn{
  background:#f4b400;
  color:#082567 !important;

  text-align:center;
  padding:15px;
  border-radius:50px;
}

@media(min-width:993px){
  .mobile-nav{
    display:none;
  }
}