.testimonials-section{
    padding:120px 6%;
    background:#ffffff;
}

.testimonials-header{
    text-align:center;
    max-width:800px;
    margin:0 auto 70px;
}

.testimonials-header span{
    color:#8B1E3F;
    font-size:.9rem;
    font-weight:700;
    letter-spacing:2px;
}

.testimonials-header h2{
    color:#082567;
    font-size:3rem;
    margin:15px 0;
}

.testimonials-header p{
    color:#666;
    font-size:1.1rem;
    line-height:1.8;
}

.testimonial-grid{
    max-width:1300px;
    margin:auto;

    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.testimonial-card{
    background:#fff;

    padding:35px;

    border-radius:20px;

    box-shadow:
    0 15px 40px rgba(0,0,0,.08);

    transition:.35s ease;
}

.testimonial-card:hover{
    transform:translateY(-10px);
}

.quote-icon{
    color:#8B1E3F;
    font-size:2rem;
    margin-bottom:20px;
}

.stars{
    display:flex;
    gap:5px;

    color:#F4B400;

    margin-bottom:20px;
}

.testimonial-card p{
    color:#555;
    line-height:1.9;
    margin-bottom:30px;
}

.testimonial-footer{
    display:flex;
    align-items:center;
    gap:15px;
}

.avatar{
    width:55px;
    height:55px;

    border-radius:50%;

    background:#8B1E3F;
    color:white;

    display:flex;
    justify-content:center;
    align-items:center;

    font-weight:700;
    font-size:1.2rem;
}

.testimonial-footer h4{
    color:#082567;
    margin-bottom:4px;
}

.testimonial-footer span{
    color:#777;
    font-size:.9rem;
}

@media(max-width:992px){

    .testimonial-grid{
        grid-template-columns:repeat(2,1fr);
    }

    .testimonials-header h2{
        font-size:2.5rem;
    }
}

@media(max-width:768px){

    .testimonials-section{
        padding:90px 5%;
    }

    .testimonial-grid{
        grid-template-columns:1fr;
    }

    .testimonials-header h2{
        font-size:2rem;
    }
}